<!DOCTYPE html>
<html lang="ja">
<head>
    <% include modules/headerMeta %>
</head>
<body class="">

<% include modules/gHeader %>

<!--: Start #contents -->
<section id="contents">
    <h1><%= htmlWebpackPlugin.options.title %></h1>
    <p></p>
</section>
<!--: End #contents -->

<% include modules/gFooter %>

</body>
</html>
