<!DOCTYPE html>
<html lang="ja">
<head>
    <% include /src/templates/modules/headerMeta.ejs %>
</head>
<body class="">

<% include /src/templates/modules/gHeader %>

<!--: Start #contents -->
<main>
    <section id="contents">
        <h1>Content</h1>
        <p>Frontend環境構築キットです。</p>
    </section>
</main>
<!--: End #contents -->

<% include /src/templates/modules/gFooter.ejs %>

</body>
</html>
