<!DOCTYPE html>
<html lang="ja">
<head>
    <% include modules/headerMeta %>
</head>
<body class="">

<%- include modules/gHeader -%>

<!--: Start #contents -->
<main>
    <section id="contents">
        <h1>View</h1>
        <p>hogehgoe</p>
    </section>
</main>
<!--: End #contents -->

<%- include modules/gFooter -%>

</body>
</html>
