<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="">

<%- include modules/gHeader -%>

<!--: Start #contents -->
<main>
    <section id="contents">
        <h1>View</h1>
        <p>hogehgoe</p>
    </section>
</main>
<!--: End #contents -->

<%- include modules/gFooter -%>

</body>
</html>
